// Colours
$base-color-000: #222222;
$base-color-100: #666666;
$base-color-200: #aaaaaa;
$base-color-300: #cccccc;
$base-color-400: #eeeeee;

$color-compliment: #EB5160;

// Sizes
$topbar-height: min(45px, 10%);

// TODO: handle min width for mobile layout threshold stuff